@import url("./global.css");
.articles-container {
    margin-bottom: 100px;
}


/* Filter input */

form {
    display: flex;
    justify-content: center;
    margin: 20px 20px 40px;
}

input {
    border-radius: 5px;
    border: none;
    width: 340px;
    padding: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

input:focus {
    border: 1px solid rgb(50, 50, 77);
}


/* Add new button */

.addNew-container {
    display: flex;
    justify-content: center;
}

#addNewBtn {
    display: none;
    color: white;
    background-color: rgb(50, 50, 77);
    border-radius: 5px;
    border: none;
    width: 340px;
    padding: 10px;
    margin: 0 20px;
    cursor: pointer;
}

#addNewBtn:hover {
    background-color: black;
}